@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");
body {
  overflow-x: hidden;
  font-family: "Baloo Tamma 2", cursive;
}

/* START HOME CSS */
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6) !important;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffc153;
}
span.typed-text {
  font-weight: normal;
  color: #a200ff;
}
span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

#home {
  position: relative;
  display: flex;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-origin: center;
  background-image: url("./assets/img/bg.jpg");
}

.home-content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 100;
}
.home-content h2 {
  color: #fff;
}

.arrow {
  text-align: center;
  margin: 8% 0;
  color: #fff;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/* END HOME CSS */

/* START ABOUT CSS */
#about {
  padding: 90px 0 75px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: center;
  background: #83a4d4;
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-size: cover;
}

.description {
  max-width: 100%;
  float: left;
}

.description p {
  margin-bottom: 20px;
}

.socials {
  padding-left: 0px;
  padding-top: 20px;
}

.socials li {
  display: inline-block;
  display: -moz-inline-stack;
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials li a {
  color: #131313;
  background: rgba(42, 41, 41, 0);
  display: inline-block;
  display: -moz-inline-stack;
  width: 20px;
  height: 20px;
  margin-left: 23px;
  margin-right: 10px;
  box-sizing: border-box;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.socials li a:hover {
  color: #ffc153;
  transform: scale(1.5);
}
.socials li a i {
  font-size: 1.3em;
}

.skill {
  float: right;
  margin-top: 30px;
}
.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 95%;
  background: #eee;
  height: 35px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 35px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.btn-anim {
  text-align: left;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition: all 0.35s ease-in-out;
}

.btn-anim:hover {
  background-color: #ffa751;
}
/* END ABOUT CSS */

/* START PROJECTS CSS */

#projects {
  padding: 90px 0 80px;
  background: #d3cce3;
  background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3);
  background: linear-gradient(to right, #e9e4f0, #d3cce3);
}
.wg-box-content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.wg-box-content .wg-box-content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.wg-box-content:hover .wg-box-content-overlay {
  opacity: 1;
}

.wg-box-content-image {
  width: 100%;
}

.wg-box-content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.wg-box-content:hover .wg-box-content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.wg-box-content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.wg-box-content-details p {
  color: #fff;
  font-size: 0.8em;
}

.wg-box-fadeIn-bottom {
  top: 80%;
}
@media only screen and (min-width: 280px) and (max-width: 653px) and (orientation: portrait) {
  .wg-box-content-details.wg-box-fadeIn-bottom h3 {
    font-size: 14px;
  }
}
@media only screen and (min-width: 411px) and (max-width: 823px) and (orientation: landscape) {
  .wg-box-content-details.wg-box-fadeIn-bottom h3 {
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .wg-box-content-details.wg-box-fadeIn-bottom.test h3 {
    font-size: 14px;
  }
  .wg-box-content-details.wg-box-fadeIn-bottom.test p {
    font-size: 10px;
  }
  .wg-box-content-details.wg-box-fadeIn-bottom h3 {
    font-size: 14px;
  }
  .wg-box-content-details.wg-box-fadeIn-bottom p {
    font-size: 12px;
  }
}
/* END PROJECTS CSSS */

/* START CONTACTS CSS*/
#contact {
  padding: 116px 0 95px;
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.heading {
  text-align: center;
  font-size: 45px;
  margin-bottom: 45px;
  padding-top: -20px;
}

#contact .container {
  background-color: transparent;
}

.btn-info {
  width: 30%;
  letter-spacing: 1px;
  background: transparent;
  transition: all 0.5s ease-in-out;
}

.btn-info:hover {
  transform: scale(1.05);
  background-color: black;
}

.icn {
  font-family: monospace;
  font-size: 17px;
}

hr {
  width: 80%;
}
/* END CONTACT CSS */

/* START FOOTER CSS */

#footer {
  padding: 20px 0 27px;
  background-color: #333;
  font-family: "Work Sans", sans-serif;
}

#footer p {
  color: #131313;
  font-size: 1.3em;
}

.footer-icons {
  margin: 0 auto;
  padding: 0;
}

.footer-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
}

.footer-icons li a {
  color: white;
  background: rgba(42, 41, 41, 0);
  font-size: 1.3em;
  display: -moz-inline-stack;
  display: inline-block;
  width: 50px;
  height: 40px;
  padding: 10px 10px 8px 10px;
  box-sizing: border-box;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  margin-bottom: 0;
}

.footer-icons li a:hover {
  color: #a200ff;
  transform: scale(1.3);
}

/* END FOOTER CSS*/
