@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body{
  overflow-x: hidden;
  font-family: 'Baloo Tamma 2', cursive;
}

.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-nav li{
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: #FFFFFF;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: #ffc153;
}
.arrow {
  box-sizing: border-box;
  position: absolute;
  height: 3vw;
  width: 3vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  right: 48%;
  top: 300%;
  align-content: center;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}
.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  bottom:45%;
  z-index:1;
  color: white;
}
.main-content {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  background-image:url(img/bg.jpg);
}
#about{
  padding: 90px 0 75px;
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
}


#about h2{
  margin-top:0;
}

#contact{
  padding-top: 5vh;
  position: relative;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: center;
  background: #a8ff78;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

span.typed-text {
  font-weight: normal;
  color: #a200ff;
}
span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.description {
  max-width: 100%;
  float: left;
}

.description p {
  margin-bottom: 20px;
}

.socials{
  padding-left: 0px;
  padding-top: 20px;
}

.socials li{
  display: inline-block;
  display: -moz-inline-stack;
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials li a {
  color: #131313;
  background: rgba(42, 41, 41, 0);
  display: inline-block;
  display: -moz-inline-stack;
  width: 50px;
  height: 40px;
  box-sizing: border-box;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.socials li a:hover{
  color: #ffc153;
  transform: scale(1.5);
}
.socials li a i {
  font-size: 1.3em;
}

.skill{
  float: right;
  margin-top: 30px;

}
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
  width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}



.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}



.btn-anim {
  text-align: left;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.btn-anim:hover {
  background-color: #ffc153;
}

#projects{
  padding: 90px 0 80px;
  background: #EDE574;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#portfolio-img .mix{
  display: none;
}

.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 1em 0;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 2px 0;
  min-width: 358px;
  max-width: 358px;
  max-height: 290px;
  width: 48%;
  text-align: center;
  cursor: pointer;
}

.proj-desc{
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #131313;
  margin: 8px 5px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  line-height: 1.2em;
  text-align: center;
}
.proj-desc *,
.proj-desc *:before,
.proj-desc *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.proj-desc:before {
  position: absolute;
  background-color: #fff;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  content: "";
  opacity: 0;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.proj-desc img {
  max-width: 100%;
  vertical-align: top;
}

.proj-desc figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  padding: 0 30px;
}



.proj-desc:hover:before,
.proj-desc.hover:before {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.proj-desc:hover figcaption,
.proj-desc.hover figcaption {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  opacity: 1;
}